<IfModule mod_rewrite.c>
    RewriteEngine On

    # Enviar todo lo que no sea archivo/carpeta físico a index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
